*{
	margin: 0;
	padding: 0;
	user-select: none;
	text-transform: uppercase;
	text-decoration: none;
	/* /19.2 */
}
::-webkit-scrollbar {
	width: 0;
}
/* Шапка */
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3.59vw;
}
nav img{
	width: 8.9vw;
}

/* Линнии разделения */
#first-line, #line-3{
	margin-bottom: 0.625vw;
	box-shadow: 0 0.21vw 0.625vw 0px #FA4616;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 0.83vw;
	color: #fff;
	background-color: #1C1C1C;
}
.conteiner{
	margin-right: 13vw;
	margin-left: 13vw;
}
.button{
	background-color: #FA4616;
	color: #fff;
	border: 0;
	width: auto;
	padding: 0.68vw 1.3vw 0.68vw 1.3vw;
	font-weight: medium;
	border-radius: 0.416vw;
	font-size: 0.83vw;
	user-select: none;
	cursor: pointer;
}
.button:hover{
	background-color: #fff;
	color: #FA4616;
	border: 0;
	width: auto;
	padding: 0.68vw 1.3vw 0.68vw 1.3vw;
	font-weight: medium;
	font-size: 0.83vw;
	border-radius: 0.416vw;
}
.filters-1{
	display: flex;
	justify-content: end;
	margin-bottom: 5.73vw;
}
.filters-2{
	display: flex;
	flex-direction: column;
	background-color: #FA4616;
	padding: 0.677vw;
	border-radius: 0.417vw;
	margin-bottom: 5.73vw;
}
.top-filter{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 1.56vw;
}
.direction, .year, .mentor{
	display: flex;
	flex-direction: column;
	gap: 0.47vw;
}
h3{
	font-size: 1.25vw;

	font-weight:normal;
	margin: 0;
}
h4{
	font-size: 0.78vw;
	font-weight:300;
	margin: 0;
}
.filters-2 #back{
	font-size: 0.83vw;
	padding-top: 0;
	max-height: 2.5vw;
}
.filters-2 #back:hover{
	background-color: #FA4616;
	padding-top: 0;
	color: #fff;
	font-size: 0.83vw;
	max-height: 2.5vw;
}
.centerBox{
	align-self: center;
	border: 0.05vw solid #fff;
}

.active{
	display: none;
}
label{
	cursor: pointer;
}
label h4{
	display: flex;
	align-items: center;
	gap: 0.26vw;
	user-select: none;
}
.real-checkbox{
	width: 0;
	height: 0;
	opacity: 0;
	position: absolute;
	z-index: -1;
}
.real-checkbox:checked + .custom-checkbox::before{
	transform: scale(1);
}

.custom-checkbox{
	display: inline-block;
	width: 0.78vw;
	height: 0.78vw;
	border: 0.05vw solid #fff;
	border-radius: 0.216vw ;
}

.custom-checkbox::before{
	content: ' ';
	display: inline-block;
	width: 0.78vw;
	height: 0.78vw;
	background-color: #fff;
	transition: 0.2s ease-in;
	transform: scale(0);
}
.line{
	width: 100%;
	background-color: #FA4616;
	height: 0.05vw;
	margin-bottom: 2.6vw;
	box-shadow: 0 0.21vw 0.625vw 0px #FA4616;
}

/* Project */
.projects {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projects a {
  width: 20.834vw;
  height: 20.834vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5.73vw;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor:pointer;
}
.projects img {
  width: 100%;
  height: auto;
  position: relative;
  opacity: 0.85;
}
.about-hover{
	margin-top: 7.2vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	width: auto;
	overflow: hidden;
	gap: 1.14vw;
}
.text{
	font-size: 1.6vw;
	color: #fff;
	position: relative;
}
.about{
	position: relative;
	color: #fff;
	text-transform: none;
}
a .about{
	transform: translateY(100px);
	opacity: 0;
	transition: all 0.8s linear; /* Менять время*/
}
a a.info{
	opacity: 0;
	transition: all 0.2s ease-in-out;
} 
a:hover .about-hover{
	opacity: 1;
	margin-top: 0;
	transition: all 0.8s ease-in-out; /* Менять время*/
}
a:hover .text, a:hover .about{
	opacity: 1;
	transform: translateY(0);
}

a:hover .about{
	transition-delay: 0.1s;
}
a:hover a.info{
	transition-delay: 0.9s;
}


/* Анимации */

.element-animation {
  /* Скроем элемент в начальном состоянии */
  opacity: 0;
  /* transform: translateY(20px); */
}
.element-animation.element-show {
  opacity: 1;
  transition: all 2s ease-in;
  /* transform: translateY(0%); */
}


/* footer */
.project-designers{
	display: flex;
	flex-direction: column;
	gap: 0.52vw;
	padding-top: 2vw;
	padding-bottom: 2vw;
}
.wrapper{
	height: 48.4vw;
}
.wrapper h1{
	margin-top: 7.5vw;
	margin-bottom: 3.69vw;
}

.slider-text{
	display: flex;
	flex-direction: column;
	width: 18.75vw;
	margin-top: 5.73vw;
	margin-left: 4.17vw;
	position: absolute;
}
.image-slider_image .text{
	color: rgb(255, 255, 255);
	text-align: left;
	font-weight: 600;
	margin-bottom: 0.8vw;
}
.image-slider_image .aboutSlider{
	font-size: 0.83vw;
	text-align: left;
	color: rgb(255, 255, 255);
}
