@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
 margin: 0;
 padding: 0;
 font-family: 'Montserrat', sans-serif;
}


body{
background: #1C1C1C;
width: 100%;
}


.all{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 100%;
 width: 100%;
 margin-top: 5%;
}
.login-box{
 background: #1C1C1C;
 padding: 11% 4% 4% 4%;
 display: flex;
 border: 2px solid #FA4616;
 border-radius: 24px;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 position: relative;
 width: 400px;
 font-size: 14px;
 margin: auto;
}
.user-icon{
 color: #FFF;
 display: flex;
 justify-content: center;
 align-items: center;
 position: absolute;
 top: -60px;
}


.login{
 width: 100%;
}
.form-group{
    margin-bottom: 32px;
    display: fle;
    flex-direction: column;
    width: 100%;
   }
.form-group1{
 margin-bottom: 48px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 width: 100%;
}


input[type="text"].form-control, input[type="password"].form-control{
 font-size: 16px;
 background: #D9D9D9;
 outline: none;
 width: calc(100% - 2rem);
 padding: 16px;
 border-radius: 8px;
 transition: all 0.3s ease;
}
input[type="text"].form-control:hover, input[type="password"].form-control:hover{
 border: 2px solid #eaa592;
}
input[type="text"].form-control:focus, input[type="password"].form-control:focus{
 border: 2px solid #de5f3c;
}
input[type="text"].form-control:active, input[type="password"].form-control:active{
 border: 2px solid #ff592c;
}


label{
 display: flex;
 align-items: center;
 cursor: pointer;
 font-family: 'Montserrat';
 color: #F1F1F1;
 font-size: 30px;
}
button{
 outline: none;
 background: #FA4616;
 color: #FFF;
 padding: 16px;
 margin-top: 32px;
 display: block;
 width: 64%;
 border:none;
 text-transform: uppercase;
 font-size: 16px;
 cursor: pointer;
 border-radius: 6px;
 border: 1px solid #FA4616;
}
button:hover {
  background: #FFF;
  color: #FA4616;
  border: 1px solid #FA4616;
  transition: all 0.3s ease;
}
.form {
  max-width: 43rem;
  padding: 15px;
  margin: 20px auto;
  background-color: none;
  border: 4px solid #FA4616;
  border-radius: 24px;
}

.input {
  display: block;
  width: 32rem;
  padding: 8px 10px;
  margin-bottom: 10px;
  border: 0;
  
  border-radius: 8px;
  background: #D9D9D9;
  margin-right: auto;
  margin-left: auto;
  font-family: inherit;
  font-size: 16px;
}

.label {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.label label {
  font-family: Montserrat;
}


 


input:-webkit-autofill {
 -webkit-box-shadow: inset 0 0 0 50px #FA4616 ;
 -webkit-text-fill-color: #FFF ;
 color: #FFF ;
 font-family: 'Montserrat';
}




.last {
  padding-left: 48px;
  padding-top: 48px;
  padding-bottom: -80px;
  display: block;
}


