body{
    margin-top: 1.82vw;
}
h1{
    font-size: 3.33vw;
    font-weight: normal;
    text-align: center;
}
h5{
    font-size: 1.25vw;
    font-weight: lighter;
}
p{
    width: 29.69vw;
    font-size: 0.83vw;
}
#backArrow{
    position: absolute;
    margin-left: 3.125vw;
}
#backArrow img{
    height: 2.4vw;
}
article{
    display: flex;
    justify-content: space-between;
    margin-top: 5.72vw;
}
.aboutTeam{
    display: flex;
    flex-direction: column;
    gap: 2.08vw;
}
.teamMembers, .mentorTeam, .projectDescription{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.vertical_line{
    width: 0.05vw;
    background-color: #FA4616;
    margin-right: 0.52vw;
}
section{
    display: flex;
}
section:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 2.34vw;
}
video{
    height: 20.1vw;
    border-radius: 1.25vw;
    /* border: 2px solid #FA4616; */
}
.attachedFile{
    display: flex;
    flex-direction: column;
    gap: 1.3vw;
}
.attachedFile img{
    width: 4.95vw;
}
.attachedFile a{
    width: 4.95vw;
}