
.wrapper h1 {
	text-align: center;
	font-size: 3.3vw;
	font-weight: 300;
}
.image-slider {
	padding-bottom: 5.3vw;
	padding-top: 5.3vw;
}
.image-slider_wrapper {
	
}
.image-slider_slide {
}

.image-slider_image {
	text-align: center;
}
.image-slider_image img {
	max-width: 100%;
	max-height: 50vh;
	border-radius: 1.25vw;
}
/* Стрелки */
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
	color: #ffffff;
	font-size: 60px;
	font-size: calc(10px + 50 * (100vw / 1980));
  	align-items: center;
 	margin-bottom: 30px;
}
/* Буллеты */
.image-slider .swiper-pagination-bullet {
	width: 0.9em;
	height: 0.9em;
	line-height: 15px;
	font-size: 10px;
	background-color: white;
}