body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1C1C1C;
}
.conteiner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.projects {
  width: 80%;
  height: 80vh;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projects a {
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: 10%;
  justify-content: space-around;
}
.projects a:hover{
  align-items: baseline;
}
.projects img {
  width: 90%;
  height: auto;
  position: relative;
}
.text{
  position: absolute;
  font-size: 32px;
  color: #fff;
}
