/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul, ol, li {
	list-style: none;
}
img {
	vertical-align: top;
}
html, body {
	line-height: 1;
	font-size: 14px;
	background-color: #1C1C1C;
	font-family: Arial, Helvetica, sans-serif;
}
.wrapper h1 {
	color: #ffffff;
	text-align: center;
	font-size: 55px;
	font-weight: 300;
	font-family: Montserrat;
}
.image-slider {
	padding: 10px 0 70px 0;
}
.image-slider_wrapper {
	
}
.image-slider_slide {

}
.image-slider_image {
	text-align: center;
}
.image-slider_image img {
	max-width: 100%;
}
/* Стрелки */
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
	color: #ffffff;
	font-size: 60px;
}
/* Буллеты */
.image-slider .swiper-pagination-bullet {
	width: 13px;
	height: 13px;
	line-height: 15px;
	font-size: 10px;
	background-color: white;
}
/* Эффект куб */
/*.image-slider {
	max-width: 500px;
	max-height: 500px;
}